.form {
  width: 700px;
  background-color: #efeffd;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #efeffd 20%, #efeffd 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #efeffd 20%, #efeffd 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#039ee1 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #039ee1 0.8px, #efeffd 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}